html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(#141e30, #243b55);
}
#register {
  position: absolute;
  top: 50%;
  left: 50%;
  width: fit-content;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

#register h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
}

#register .user-box {
  position: relative;
}
#register .user-box input {
  width: 100%;
  padding: 13px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
#register .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}
#register .user-box textarea {
  width: 100%;
  padding: 13px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
#register .user-box textarea:focus ~ label,
#register .user-box textarea:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 18px;
}

#register .user-box input:focus ~ label,
#register .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 18px;
}

.submit input {
  background: linear-gradient(-45deg, #3f00b5, #9f69fe, #27c8b7, #3f00b5);
  background-size: 800% 400%;
  padding: 1em 1em;
  margin-left: 10px;
  display: inline-block;
  border: none;
  border-radius: 10px;
  font-size: 17px;
  font-weight: 700;
  color: white;
  transition: all 0.5s ease-in-out;
  animation: gradient 10s infinite cubic-bezier(0.62, 0.28, 0.23, 0.99) both;
}

.submit input:hover {
  animation: gradient 3s infinite;
  transform: scale(1.15);
}

.submit input:active {
  animation: gradient 3s infinite;
  transform: scale(0.8);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.errors {
  color: rgb(221, 0, 0);
  margin-bottom:20px;
}
p {
  color: white;
}

#main {
  width: max-content;
  margin: 40px auto;
  font-family: "Segoe UI", sans-serif;
  padding: 25px 28px;
  background: #151414;
  border-radius: 4px;
  border: 1px solid #302d2d;
  animation: popup 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
